@model MyPortfolio.Models.TblContacts
@{
    ViewBag.Title = "AddContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İletişim Bilgisi Ekleme Sayfası</h2>

<form method="post" id="contactForm">
    <label>Ad Soyad</label>
    <input type="text" name="NameSurname" class="form-control" />
    <br />
    <label>Adres</label>
    <input type="text" name="Address" class="form-control" />
    <br />
    <label>Telefon Numarası</label>
    <input type="text" name="Phone" class="form-control" id="phone-input" pattern="\(\d{3}\) \d{3}-\d{4}" title="(999) 999-9999 formatında olmalıdır." required />
    <br />
    <label>Email</label>
    <input type="email" name="Email" class="form-control" />
    <br />
    <button type="submit" class="btn btn-outline-success">Kaydet</button>
</form>

