@model MyPortfolio.Models.TblFeatures
@{
    ViewBag.Title = "UpdateFeature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h3>Öne Çıkan Güncelleme Sayfası</h3>

<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="FeatureId" value="@Model.FeatureId" />  
    <br />
    <label>Ad Soyad</label>
    <input type="text" name="NameSurname" value="@Model.NameSurname" class="form-control" />
    <br />
    <label>Meslek</label>
    <input type="text" name="Title" value="@Model.Title" class="form-control" />
    <br />
    <label>Resim Url</label>
    <input type="url" name="ImageUrl" value="@Model.ImageUrl" class="form-control" placeholder="" />

    <br />

    <button class="btn btn-outline-info">Güncelle</button>

</form>